html, body {
    font-family: 'Georgia', serif;
}

div {
    background-color: Sienna;
    color: white;
    height: 150px;
}

.pierwszy {
    width: 40%;
}

.drugi {
    width: 50%;
    font-size: 150%;
}

.trzeci {
    width: 10%;
    text-align: center;
}

main {
    background-color: Tan;
    padding: 100px;
}

a {
    border: 1px dashed Sienna;
    background-color: Tan;
    color: Sienna;
    padding: 40px;
    line-height: 150px;
}

ul {
    list-style-type: circle;
}

header, footer {
    display: flex;
}